.offer_plan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  padding: 4rem;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 24px;
  flex: 1;
  max-width: 300px;
  overflow: hidden;
  cursor: pointer;
}

.plan:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.div_container {
  margin: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.plan svg {
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
  flex: 2;
}

.plan span {
  opacity: 0;
}

.plan:hover span {
  opacity: 1;
  /* add transition */
  transition: opacity 0.5s ease-in-out;
}

.card_below {
  flex: 1;
  width: 100%;
  padding: 1.5rem;
  /* add top border */
  border-top: 1px solid var(--color-selected);
}

.card_below h2 {
  margin: 0px;
}

.card_below ul {
  margin-top: 1rem;
}

.orange ul {
  margin-bottom: 1rem;
}

.card_below li {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.orange_card {
  background-color: rgb(254, 168, 99);
}

.orange_section_card {
  background-color: rgb(250, 138, 89);
  transition: all 0.5s ease-in-out;
  border: 0px !important;
  color: white !important;
}

.orange_section_card .card_below {
  border: 0px;
}
.green_section_card {
  background-color: rgb(71, 182, 121);
}

.price_text {
  font-size: 22px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: var(--global-green);
}

@media screen and (max-width: 800px) {
  .offer_plan {
    flex-direction: column;
    gap: 2rem;
  }

  .orange_section_card {
    transform: scale(1);
  }
}
