.offer_plan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
}

.plan {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  justify-content: center;
  /* align-items: center; */
  background-color: white;
  border-radius: 24px;
  flex: 1;
  max-width: 300px;
  overflow: hidden;
  max-height: 500px;
  cursor: pointer;
  height: 100%;
  /* padding: 2rem; */
  border: 1px solid var(--global-green);
}

.plan:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.div_container {
  margin: 2rem;
}

.plan svg {
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
  flex: 2;
}

.plan span {
  opacity: 0;
}

.plan:hover span {
  opacity: 1;
  /* add transition */
  transition: opacity 0.5s ease-in-out;
}

.card_below {
  flex: 1;
  width: 100%;
  padding: 2rem
}

.orange_card {
  background-color: rgb(254, 168, 99);
}

.orange_section_card {
  background-color: rgb(250, 138, 89);
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  border: 0px !important;
}
.green_section_card {
  background-color: rgb(71, 182, 121);
}
