.home_header {
  margin-top: 116px;
  position: relative;
  z-index: 1;
  padding: 1rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.home_header_heading {
  width: 100%;
  margin-bottom: 16px;
  color: var(--global-green, #1b4715);
}

.heading_title {
  width: 80%;
  max-width: 800px;
}

.blod-header {
  position: absolute;
  top: 1rem;
  right: -20px;
  width: 80%;
  height: 828.232px;
  padding-right: 0px;
  z-index: -1;
}

.home_img_section > img {
  height: 723px;
  transform: translate(5%, -8%);
}

.filled-btn {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
}

.text_with_underline {
  display: inline-block;
}

.underline_text {
  background-image: url("../../../assets/line.png");
  background-position: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}
.highlight_text_wrapper {
  display: flex;
  column-gap: 1rem;
}
.highlight_text {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: animate 2s steps(7) forwards,
    blink 0.3s step-end infinite alternate, borderColor 2s forwards infinite,
    reverse;
  animation-delay: 2s;
  background: #575ff23b;
}

@keyframes animate {
  from {
    width: 0;
  }
  50% {
    border-color: transparent;
  }
  to {
    width: 5.5ch;
  }
}

@keyframes borderColor {
  from {
    border-right: 4px solid rgba(0, 0, 0, 0.533);
  }
  to {
    border-right: transparent;
  }
}
