.home_header {
  margin-top: 116px;
  position: relative;
  z-index: 1;
  padding: 1rem;
  max-width: 1108px;
  margin-left: auto;
  margin-right: auto;
}

.home_header .filled-btn {
  margin-top: 1rem;
  width: 12rem;
  height: 3.5rem;
}

.home_header_heading {
  width: 100%;
  margin-bottom: 16px;
  color: var(--global-green, #1b4715);
}

.heading_title {
  width: 80%;
  max-width: 800px;
}

.blod-header {
  position: absolute;
  top: 1rem;
  right: -20px;
  width: 80%;
  height: 828.232px;
  padding-right: 0px;
  z-index: -1;
}

.home_img_section > img {
  height: 723px;
  transform: translate(5%, -10%);
}

.text_with_underline {
  display: inline-block;
}

.underline_text {
  background-image: url("../../../assets/line.png");
  background-position: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}
.highlight_text_wrapper {
  display: flex;
  column-gap: 1rem;
}
.highlight_text {
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  background: #575ff23b;
}

.highlight_text_container {
  position: relative;
}
.highlight_text_container > img {
  height: 125%;
  position: absolute;
  top: -10px;
  right: -7.5px;
  animation: borderColor 1.5s infinite;
  animation-delay: 3.5s;
}

@keyframes borderColor {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
