.history-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  background: none;
  border: none;
  outline: none;
  gap: 8px;
  padding: 3px 0.55rem;
  justify-content: space-between;
  /*overflow: hidden;*/
}

.history-item .flex_common {
  gap: 0.75rem !important;
}

.history-item:focus {
  background: var(--color-selected);
}

.document-info {
  min-width: 0;
}

.document-info p {
  color: var(--global-black);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.simple-button {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selected {
  background-color: rgba(191, 191, 191, 0.386) !important;
}
