.history-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    background: none;
    border: none;
    outline: none;
}

.history-item:focus {
    background: var(--color-selected);
}

.history-item span {
    padding: 1rem;
}

.history-item p {
    color: #000;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}