.running_word_wrapper {
  white-space: nowrap;
  padding: 0.5rem 0;
  background-color: var(--color-orangee, #e65603);
  color: var(--global-green, #1b4715);
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer_wrapper {
  position: relative;
  background-color: var(--global-purple, #575ff2);
}

.footer_name {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    238deg,
    rgba(255, 255, 255, 0.2) 13.24%,
    rgba(232, 232, 232, 0) 78.88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -4px;
}

.footer_container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.footer_name_wrapper {
  opacity: 0.6;
}
.footer_name_wrapper > ul {
  list-style-type: none;
}

.footer_name_wrapper > ul > li {
  text-align: right;
  color: white;
  margin-bottom: 2px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 113.156%; /* 27.157px */
}

.footer_name_wrapper > ul > li:first-child {
  margin-bottom: 1rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 113.156%; /* 27.157px */
  letter-spacing: -0.24px;
  color: var(--global-green, #1b4715);
}

.running_word_wrapper {
  overflow: hidden;
  display: flex;
}

.text {
  animation: animate_text 30s linear infinite;
}
.text span {
  margin: 0 40px;
}

@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
