.history {
  padding: 2rem 2rem 1rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.history-bar {
  display: flex;
  padding: 2rem 2rem;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  height: 100%;
  flex: 1;
  max-width: 400px;
}

.history-bar h1 {
  color: #000;
  font-family: var(--font-family);
  font-size: 31px;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.history-bar h2 {
  color: #757575;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 300;
  padding: 2rem 0 0.8rem 0;
}

.history-text {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
}

.history-text textarea {
  height: 100%;
  width: 100%;
  border: 2px solid transparent;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 1.5rem;
  font-family: var(--font-family);
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 400;
  resize: none;
  outline: none;
}

.history-text textarea::placeholder {
  color: #d9d9d9;
  text-align: center;
  font-family: var(--color-orange);
  font-size: 28px;
  font-weight: 600;
}

.history-text textarea::-webkit-scrollbar {
  width: 12px;
}

.history-text textarea::-webkit-scrollbar-track {
  display: none;
}

.history-text textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gainsboro;
}

/* .input-buttons {
    display: flex;
    padding: 2rem 3rem 2.5rem 0;
    background-color: white;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    justify-content: flex-end;
} */

/* .download-button {
  border-radius: 12px;
  height: 44px;
} */
