.history_container {
  padding: var(--gap);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 2108px;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  > * {
    flex: 0 0 auto;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  > *::-webkit-scrollbar {
    display: none;
  }
}
.history {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  flex: 1;
}

.history_left {
  display: flex;
  flex-direction: column;
}

.history_content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 78px);
}

.resize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  fill: black;
  flex: 1;
  overflow: hidden;
  background-color: white;
  /* border radius top right and bottom right */
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  /* make cursor resizeable */
  cursor: col-resize;
}

.history-bar {
  display: flex;
  padding: 1.25rem 0.5rem 1rem 1rem;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  /* border-radius: 12px; */
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  min-width: 250px;
  gap: 1.5rem;
}

.history_document_container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  height: calc(100% - 163px);
  overflow: auto;
}

.history_document {
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
}

.history-text {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
}

.history-text textarea {
  border: 0;
  border-radius: 12px;
  padding: 1.5rem;
  background-color: white;
  color: var(--global-black);
  font-size: 14px;
  font-weight: 400;
  resize: none;
  outline: none;
}

.history-text textarea::placeholder {
  color: #d9d9d9;
  text-align: center;
  font-family: var(--color-orange);
  font-size: 20px;
  font-weight: 600;
}

.tips_card {
  position: relative;
  padding: 1rem;
  background-color: #1b471524;
  border-radius: 12px;
  overflow: hidden;
  color: var(--global-black);
  flex-grow: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.tips_card_container {
  position: inherit;
  z-index: 4;
}

.tips_card button {
  margin-top: 18px;
}

.tips_card svg {
  position: absolute;
  bottom: -50%;
  right: -50%;
  z-index: 2;
}

.circle_btn_small {
  background-color: transparent;
  color: var(--global-green, #1b4715);
  border: 1px solid var(--global-green, #1b4715);
  border-radius: 16px;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.5px;
  cursor: pointer;
}

.inner-group {
  margin-bottom: 1rem;
}
.inner-group > h3 {
  color: var(--global-green);
}
