.trusted_by_container {
  transform: translateY(-50%);
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
}

.trusted_by_container img {
  width: 100px;
  opacity: 0.4;
  filter: alpha(opacity=80);
}

.trusted_by_container p {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 113.156%; /* 27.157px */
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.726);
}
.trusted_by_background {
  border-radius: 16px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  gap: 2rem;
  box-shadow: 32px 29px 95px 0px rgba(0, 0, 0, 0.1),
    126px 117px 172px 0px rgba(0, 0, 0, 0.09),
    284px 263px 232px 0px rgba(0, 0, 0, 0.05),
    505px 467px 275px 0px rgba(0, 0, 0, 0.01),
    788px 729px 301px 0px rgba(0, 0, 0, 0);
}
