nav {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  padding: 16px;
  border-radius: 12px;
  background-color: white;
  width: fit-content;
  max-width: 50rem;
  box-sizing: border-box;
  margin: 16px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.placeholder {
  aspect-ratio: 1;
  height: 50px;
  border-radius: 8px;
  background-color: #dcdbdb;
}
.navigation-container {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation-container > span,
.nav-item {
  /* margin: 12px; */
  padding: 12px;
  color: black;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  background-color: var(--color-selected);
  border-radius: 8px;
}
