nav {
  border-radius: 6px;
  width: 80px;
  box-sizing: border-box;
  margin: var(--gap);
  position: fixed;
  top: 0;
  height: calc(100vh - var(--gap) * 2);
  transition: all 0.2s ease;
  z-index: 100;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  border: 1px solid rgba(179, 179, 179, 0.441);
}

.nav_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
nav:hover {
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  width: 200px;
}

.placeholder {
  aspect-ratio: 1;
  height: 50px;
  border-radius: 8px;
  background-color: #dcdbdb;
}
.navigation-container {
  /* height: 100%; */
  width: 100%;
  padding: 16px;
}

.navigation-container > span,
.nav-item {
  /* margin: 12px; */
  padding: 12px;
  display: flex;
  gap: 2rem;
  align-items: center;
  color: var(--global-black);
}

.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

.selected {
  /* background-color: var(--color-selected); */
  border-radius: 8px;
}
.user_btn {
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.grammar_nav {
  /* background: rgba(138, 111, 83, 0.8); */
  /* border-right: 1px solid #e6560365; */
  background-color: var(--color-orange);
  border-radius: 8px;
  color: white;
}

.history_nav {
  background-color: var(--global-green);
  border-radius: 8px;
  color: white;
}

.subscribe_nav {
  background-color: rgb(255, 253, 116);
  border-radius: 8px;
  color: var(--global-black);
}
