.grammar {
    padding: 2rem 2rem 1rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grammar h1 {
    color: #000;
    font-family: var(--font-family);
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.model {
    display: flex;
    padding: 1.5rem;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 1.5rem;
}

.model h3 {
    color: #000;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700;
    padding-right: 4rem;
}

.model-menu {
    display: flex;
    align-items: center;
    list-style: none;
    width: 500px;
    justify-content: space-between;
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 500;
}

.model-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.model-menu hr {
    border: none;
    width: 150%;
    height: 3px;
    border-radius: 10px;
    background: var(--color-orange);
    transform: translateY(0.5rem);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.content-left,
.content-right {
    width: 50%;
    margin-bottom: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content textarea {
    height: 100%;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 1.5rem;
    font-family: var(--font-family);
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 400;
    resize: none;
    outline: none;
}

.content textarea::placeholder {
    color: #D9D9D9;
    text-align: center;
    font-family: var(--color-orange);
    font-size: 28px;
    font-weight: 600;
}

.content textarea::-webkit-scrollbar {
    width: 12px;
}

.content textarea::-webkit-scrollbar-track {
    display: none;
}

.content textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gainsboro;
}

.content textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.input-buttons {
    display: flex;
    padding: 2rem 3rem 2.5rem 0;
    background-color: white;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    justify-content: flex-end;
}

.input-buttons input {
    display: none;
}

.icon-button {
    background-color: white;
    color: black;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow: 0px 2px 4.5px 0px rgba(0, 0, 0, 0.13);
}

.paraphrase-button,
.download-button {
    height: 100%;
    width: 178px;
    background: var(--color-orange);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
}

.paraphrase-button {
    border-radius: 0px 12px 12px 0px;
}

.download-button {
    border-radius: 12px;
    height: 44px;
}

@media screen and (max-width: 1000px) {
    .content {
        flex-direction: column;
        gap: 0.5rem;
    }

    .content-left,
    .content-right {
        width: 100%;
    }
}