.grammar {
  min-height: 100vh;
  width: 100%;
  padding: var(--gap);
  max-width: 2108px;
  flex: 1;
}
.grammar > h2 {
  margin-bottom: 0 !important;
}
.navbar_container {
  display: flex;
  align-items: center;
}

.model {
  display: flex;
  /* padding-left: 1rem; */
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  /* margin: 1rem 0; */
  position: sticky;
  top: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* transform: translateY(8px); */
  background: #e656034a;
  backdrop-filter: var(--globalnav-backdrop-filter);
  -webkit-backdrop-filter: var(--globalnav-backdrop-filter);
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  z-index: 20;
}

.model-menu {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}

.model-menu li {
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: rgba(46, 46, 46, 0.697);
}

.model-menu .selected {
  background: var(--color-orange);
  border-radius: 1000px !important;
  color: white;
}

.content {
  min-height: 500px;
  display: grid;
  height: fit-content;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.content-left,
.content-right {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.textarea,
textarea {
  flex: 1;
}

.content textarea,
.textarea {
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-word;
  width: 100%;
  border: none;
  padding: 1.5rem 1rem;
  background-color: white;
  color: var(--global-black);
  resize: none;
  font-size: 14px;
  font-weight: 400;
}

.content textarea::placeholder {
  color: #d9d9d9;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.content .textarea {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-buttons {
  position: sticky;
  bottom: 0;
  display: flex;
  padding: 1rem;
  /* background-color: var(--color-orange); */
  background-color: white;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  justify-content: flex-end;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  animation: fade-in 0.3s ease-in-out;
}

.input-buttons input {
  display: none;
}

.icon-button {
  background-color: transparent;
  color: var(--global-black);
  outline: none;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* box-shadow: 0px 2px 4.5px 0px rgba(0, 0, 0, 0.13); */
}

.paraphrase-button {
  border-radius: 0px 12px 12px 0px;
}
.grammar_intro {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-end;
  /* background-color: white; */
  background-color: var(--color-orange);
  background-image: url("../../assets/Noise.png");
  /* color: #fffced; */
  -webkit-font-smoothing: antialiased;
  padding: 4rem 2rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.grammar_intro p {
  opacity: 0.75;
  color: #fffffffa;
  /* text-align: center; */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.grammar_intro > h2 {
  margin: 0;
}

.grammar_intro > h2 > b {
  display: inline-block;
  color: white;
  font-size: larger;
  font-weight: 1000;
  letter-spacing: 1px;
}

.grammar_features_container {
  display: flex;
  padding: 4rem 2rem 4rem 2rem;
  gap: 4rem;
  justify-content: space-between;
  background-color: var(--global-green);
  border-radius: 12px;
  margin-bottom: 4rem;
}

.sticky_heading {
  position: sticky;
  top: 4rem;
  height: fit-content;
  height: fit-content;
  color: white;
}

.sticky_heading p:nth-child(3) {
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-top: 1rem !important;
}

.sticky_heading p:first-child {
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 25px;
  letter-spacing: 0.5px;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem !important;
}

.grammar_features {
  position: relative;
  margin-bottom: 200px;
  display: flex;
  gap: 8vh;
  flex-direction: column;
  max-width: 30rem;
}

#below h3 > b {
  display: inline-block;
  color: var(--global-yellow);
  margin-inline: 4px;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.item_1 {
  flex: 1 1;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  z-index: 2;
}

.item_2 {
  flex: 1.75 1;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  z-index: 2;
}

.item_1 h3,
.item_2 h3 {
  margin: 1rem 0rem;
}

.grammar_features svg:first-child {
  position: absolute;
  right: 1rem;
  top: -4rem;
}

.grammar_features svg:nth-child(4) {
  position: absolute;
  left: -3rem;
  bottom: -4rem;
}
.grammar_features_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.grammar_block {
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* position: sticky; */
  top: 1rem;
}

.grammar_block img {
  width: 100px;
}

.grammar .footer_wrapper {
  border-radius: 12px;
}

@media screen and (max-width: 800px) {
  .content {
    grid-template-columns: 1fr;
    min-height: 650px;
  }
  /* .grammar_features_container {
    overflow: hidden;
    gap: 1rem;
  } */
}
