.grammar {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 1rem 1rem 1rem 110px;
  max-width: 1108px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

.navbar_container {
  display: flex;
  align-items: center;
}

.model {
  display: flex;
  padding-left: 1rem;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}

.model-menu {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}

.model-menu li {
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.model-menu .selected {
  background: var(--color-orange);
  border-radius: 1000px !important;
  color: white;
}

.content {
  min-height: 500px;
  display: grid;
  height: fit-content;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.content-left,
.content-right {
  display: flex;
  flex-direction: column;
}

.textarea,
textarea {
  flex: 1;
}

.content textarea,
.textarea {
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-word;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 1.5rem 1rem;
  background-color: white;
  color: black;
  resize: none;
  font-size: 16px;
  font-weight: 400;
}

.content textarea::placeholder {
  color: #d9d9d9;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.content textarea::-webkit-scrollbar {
  width: 6px;
}

.content textarea::-webkit-scrollbar-track {
  display: none;
}

.content textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gainsboro;
}

.content .textarea {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-buttons {
  display: flex;
  padding: 1rem;
  background-color: white;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  justify-content: flex-end;
}

.input-buttons input {
  display: none;
}

.icon-button {
  background-color: transparent;
  color: black;
  outline: none;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* box-shadow: 0px 2px 4.5px 0px rgba(0, 0, 0, 0.13); */
}

.paraphrase-button {
  border-radius: 0px 12px 12px 0px;
}

.download-button {
  position: relative;
  border-width: 0;
  background-color: transparent;
  z-index: 1;
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 16px;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
  z-index: -1;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  transform: translateY(0%);
  background-color: #01e056;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
  transform: translateY(-100%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 800px) {
  .content {
    grid-template-columns: 1fr;
  }
}
