.content-container {
  flex-grow: 1;
}

.section__padding {
  padding: 2rem 2rem;
}

.section__margin {
  margin: 2rem 2rem;
}

.simple_flex {
  display: flex;
}

.header {
  border-radius: 12px;
  background-color: white;
  /* height: 60px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--gap);
  padding: 1rem;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.364) !important;
}

.right_align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.right_align_text {
  text-align: right;
}

.centered_align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex_space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.flex_common {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex_common_vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.relative-container {
  position: relative;
  display: inherit;
  flex: 1;
}

.phone_check {
  display: none;
}
@media screen and (max-width: 600px) {
  .App {
    display: none;
  }

  .phone_check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 4rem;
  }
}

/* @media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
} */
