.content-container {
  flex-grow: 1;
}

.section__padding {
  padding: 2rem 2rem;
}

.section__margin {
  margin: 2rem 2rem;
}

.simple_flex {
  display: flex;
}

.header {
  border-radius: 12px;
  background-color: white;
  /* height: 60px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--gap);
  padding: 12px;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.364) !important;
}

.right_align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.centered_align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex_space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.flex_common {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex_common_vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* @media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
} */
