@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --gap: 0.5rem;
  --gap-radius: 12;
  --color-orange: #e65603;
  --color-selected: #ededed;
  --global-white: #f6f6f6;
  --global-green: #1b4715;
  --global-green-bright: rgb(31, 305, 133);
  --global-purple: #575ff2;
  --global-pink: rgb(227, 191, 246);
  --global-black: #1c1d28;
  --globalnav-backdrop-filter: saturate(180%) blur(20px);
  --globalnav-background: rgba(250, 250, 252, 0.8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.overflow {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 12px 0;
}

.paragraph {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
}

html,
textarea {
  font-family: "Inter", sans-serif !important;
}

a {
  color: white;
  text-decoration: none;
}

button:active {
  transform: scale(0.95);
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 1rem 0;
}

h4 {
  color: #7575759c;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 300;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.filled-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--global-white, #f6f6f6);
  border: none;
  border-radius: 16px;
  margin: 0rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.5px;
  height: 48px;
  min-width: 132px;
  cursor: pointer;
  padding: 1rem;
}

h1 {
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
}

.flex_space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.flex_common {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex_common_vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.green_text {
  color: var(--global-green);
}

.white_text {
  color: var(--global-white) !important;
}

.logo {
  color: var(--global-black);
  font-size: 23px;
  font-weight: bolder;
  line-height: 26px;
  letter-spacing: -0.23px;
}

.logo_small {
  color: var(--global-black);
  font-size: 12px;
  font-weight: bolder;
  line-height: 14px;
  letter-spacing: -0.23px;
}

.logo_small_inverted {
  color: white;
  background-color: var(--global-black);
  border-radius: 8px;
  padding: 8px;
  font-size: 8px;
  font-weight: bolder;
  line-height: 10px;
  margin: 0 !important;
}
